body {
    margin: 0;
    background-color: rgb(25, 0, 73);
    height: 200vh;
}

#header {
    background-image: url('./images/header_bg.webp');
    background-size: cover;
    background-position: 70% 0;
    height: 100vh;
}

#brand_name {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    gap: 0px;
}

#brand_name img {
    width: 120px;
    height: 100px;
}

#brand_name h1 {
    font-size: 60px;
    font-family: 'Healthy Food', 'Helvetica';
    color: white;
    align-items: center;
    position: relative;
    top: 25px;
    margin: 0;
}

#navbar {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    left: 9vw;
    position: fixed;
    top: 2vh;
    border-radius: 30px;
    border: 4px solid rgb(178, 135, 196);
    background-color: rgba(185,150,250,0.1);
    backdrop-filter: blur(10px);
    z-index: 9999;
}

#navbar_brand_name {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

#navbar_brand_name img {
    width: 50px;
    height: 40px;
}

#navbar_brand_name h1 {
    font-size: 40px;
    font-family: 'Healthy Food', 'Helvetica';
    color: white;
    position: relative;
    top: 2px;
    margin: 0;
}

#navbar_btns {
    display: flex;
    align-items: center;
}

.navbar_btn {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: bold;
    color: white;
    padding: 7px 20px;
    margin: 0 5px;
    border-radius: 20px;
    transition: border-radius .5s;
}
.navbar_btn:hover {
    border-radius: 5px;
}

#signin_btn {
    background-color: rgba(185,150,255,0.2);
    backdrop-filter: blur(10px);
}

#signup_btn {
    background-color: #5858fd;
    margin-right: 15px;
}

.tagline_div {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: calc(45vh - 5vw);
    left: 4vw;
    width: 700px;
    max-width: 80%;
    height: fit-content;
    container-type: inline-size;
}

.tagline-large {
    color: white;
    font-size: 10cqi;
    text-shadow: 0 0 3px white, 0 0 6px white;
    font-family: "Jua", sans-serif;
}

.tagline-small {
    color: white;
    font-size: 5.5cqi;
    font-family: "Jua", sans-serif;
    margin-bottom: 30px;
}

.header-btn {
    font-size: 100%;
    width: 330px;
    max-width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid white;
}

.browse-restaurant {
    margin: 0 5px 5px 5px;
}

.view-menu {
    margin-left: 5px;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 624px) {
    #navbar_brand_name h1 {
        display: none;
    }

    .tagline-large {
        font-size: 11cqi;
    }

    .tagline-small {
        font-size: 7cqi;
    }
}