* {
    margin: 0;
    cursor: default;
}

body {
    background-color: #0c0d30;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    border-bottom: 2px solid #2c2f5b;
    background-color: #0c0d30;
    z-index: 9999;
}

.nav-brand {
    display: flex;
    gap: 10px;
}

.nav-brand img {
    width: 50px;
    height: 40px;
}

.nav-brand h1 {
    font-size: 40px;
    font-family: 'Healthy Food', 'Helvetica';
    color: white;
    position: relative;
    top: 2px;
    margin: 0;
}

.navbar-btns {
    display: flex;
    align-items: center;
}

.navbar-btn {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: bold;
    color: white;
    padding: 7px 20px;
    margin: 0 5px;
    border: 1px solid rgb(84, 84, 110);
    border-radius: 10px;
    transition: all .3s;
}
.navbar-btn:hover {
    text-shadow: 0 0 1px white, 0 0 3px white;
    border-color: rgb(165, 165, 195);
}

.nav-brand img {
    margin-left: 2vw;
}

.navbar-btn {
    margin-right: 2vw;
}

@media screen and (max-width: 400px) {
    .navbar-btn {
        font-size: 15px;
    }
}

/* ------------------------------ Header ---------------------------- */
.header {
    container-type: inline-size;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1 {
    color: white;
    font-size: 9cqi;
    font-family: "Jua", sans-serif;
    text-align: center;
    text-shadow: 0 0 1px white, 0 0 3px white;
    margin-bottom: 20px;
}

.header h3 {
    color: rgb(218, 218, 218);
    font-size: 3cqi;
    font-family: "Jua", sans-serif;
    text-align: center;
}
/* ----------- Search Box -------------- */
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #252645;
    width: 585px;
    max-width: 90%;
    padding: 10px 15px;
    border: 2px solid #51516b;
    border-radius: 10px;
    margin-top: 40px;
}

.search-box svg {
    color: #7b7b95;
}

.search-box input {
    cursor: text;
    width: 500px;
    background-color: transparent;
    border: none;
    font-size: 3cqi;
    color: #9f9fc1;
    outline: none;
    font-family: 'Helvetica';
}

.filter-box {
    margin-top: 30px;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.filter-box svg {
    color: #7f7f9d;
}

.filter-box span {
    color: #7f7f9d;
    font-family: 'Helvetica';
    font-size: 3cqi;
}

.drop-down {
    background-color: #252645;
    border: 1px solid #7f7f9d;
    font-size: 3cqi;
    padding: 5px 20px;
    border-radius: 10px;
    color: #babad4;
    outline: none;
}